@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

/* ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ  */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

:root {
    --white-color: #ffff;
    --milk-color: #FAF8F0;
    --brown-color: #52503B;
    --darc-grey-color: #333333;
    --orange-color: #E08631;
}

.orange-line-box {
    position: relative;
    padding: 100px 0 35px 0;
}


.orange-line {
    margin: 0 auto;
    width: 43px;
    height: 8px;
    background-color: var(--orange-color);
}

/* HEADER */

.header {
    background-color: #52503B;
    padding: 19px 200px 19px 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__list_item:not(:last-child) {
    padding-right: 24px;
}

.header__list_item:last-child {
    padding-right: 12px;
}

.header__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--white-color);
}

.header__link_last {
    font-size: 13px;
    letter-spacing: 0.6px;
}

.header__btn {
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 6px;
    font-size: 15px;
    padding: 11px 18px;
}

/* HERO */

.hero {
    background-image: url(/layout/img/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 -71px;
    background-size: cover;
    padding-top: 177px;
}

.hero__logo_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.hero__title {
    padding: 34px 133px;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    color: var(--white-color);
}

.hero__span {
    display: block;
    padding-bottom: 112px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--white-color);
}

.hero__svg_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 86px;
}

/* ABOUT */

.about {
    background-color: var(--milk-color);
    padding: 0 337px 89px 320px;
}

.about__left_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--darc-grey-color);
}

.about__right_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--darc-grey-color);
}


.about__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px 24px 0px 19px;

}

.about__left {
    width: 48%;
}

.about__right {
    width: 46%;
}

.about__btn {
    padding: 12px 18px;
    margin-top: 40px;
    font-size: 14px;
    background-color: var(--brown-color);
    color: var(--white-color);
    border-radius: 6px;

}

/* SLOGAN */
.slogan__title {
    padding-bottom: 143px;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    color: var(--brown-color);
    text-align: center;
}

/* PICTURE-BLOCK */

.picture-block {
    padding-bottom: 600px;
    background-image: url(../img/picture-block_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* SLEEPING-ARRANGEMENTS */

.sleeping-arrangements {
    background-color: var(--milk-color);
    padding-bottom: 100px;
}

.sleeping-arrangements__title {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: var(--brown-color);
}

.sleeping-arrangements__descr {
    padding: 17px 30% 0 30%;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--brown-color);
}

.sleeping-arrangements__cards {
    padding: 31px 7.3% 0 7.5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.sleeping-arrangements__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 33%;
}

.sleeping-arrangements__span {
    padding-top: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--brown-color);
}

.sleeping-arrangements__text {
    text-align: center;
    width: 85%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--brown-color);
}

/* ESCAPE */

.escape {
    padding: 0 0 69px 136px;
}

.orange-line-escape {
    left: 0;
}

.escape__title {
    color: var(--brown-color);
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
}

.escape__text {
    width: 46%;
    padding-top: 14px;
    color: var(--brown-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.escape__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 30px;
}

.escape__card {
    width: 46%;
    padding-bottom: 42px;
    padding-left: 52px;
}

.escape__card:nth-child(2n) {
    width: 45%;
}

.escape__card-1 {
    background-image: url(../img/escape-card-icon-1.png);
    background-repeat: no-repeat;
}

.escape__card-2 {
    background-image: url(../img/escape-card-icon-2.png);
    background-repeat: no-repeat;
    background-position: 1px 8px;
}

.escape__card-3 {
    background-image: url(../img/escape-card-icon-3.png);
    background-repeat: no-repeat;
}

.escape__card-4 {
    background-image: url(../img/escape-card-icon-4.png);
    background-repeat: no-repeat;
}

.escape__card-5 {
    background-image: url(../img/escape-card-icon-5.png);
    background-repeat: no-repeat;
}

.escape__card-6 {
    background-image: url(../img/escape-card-icon-6.png);
    background-repeat: no-repeat;
    background-position: 6px 0;
}

.escape__card-7 {
    background-image: url(../img/escape-card-icon-7.png);
    background-repeat: no-repeat;
}

.escape__card-8 {
    background-image: url(../img/escape-card-icon-8.png);
    background-repeat: no-repeat;
}

.escape__card__text {
    color: var(--brown-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.escape__card__span {
    color: var(--brown-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* GUESTS */

.guests {
    background-color: var(--milk-color);
    padding-bottom: 148px;
}

.guests__title {
    text-align: center;
    color: var(--brown-color);
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
}

.guests__text {
    padding: 17px 435px 30px 435px;
    text-align: center;
    color: var(--brown-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.guests__cards {
    padding-left: 138px;
}

.guests__card {
    width: 44.7%;
    padding: 30px 47px 30px 30px;
    background-color: var(--white-color);
}

.guests__card-2 {
    margin-left: 20px;
    padding-right: 75px;
    height: 80%;
}

.guests__card_descr {
    padding-top: 10px;
    color: var(--darc-grey-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.guests__card_text {
    padding-top: 11px;
    color: var(--darc-grey-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.guests__card-2_text {
    font-size: 13px;
}

.guests__card_name {
    position: relative;
    padding-top: 20px;
    padding-left: 13px;
    color: var(--darc-grey-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.guests__card_name::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 18px;
    bottom: 0;
    width: 2px;
    height: 20px;
    background-color: var(--orange-color);
}

.left-arrow {
    position: relative;
}

.left-arrow::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 14.2%;
    height: 60px;
    width: 60px;
    border: 2px solid var(--brown-color);
    border-radius: 50%;
}

.left-arrow-svg {
    position: absolute;
    right: 15.5%;
    top: 35px;
}

.left-arrow-svg:hover {
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.right-arrow {
    position: relative;
}

.right-arrow::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 9.2%;
    height: 60px;
    width: 60px;
    border: 2px solid var(--brown-color);
    border-radius: 50%;
}

.right-arrow-svg {
    position: absolute;
    right: 10.5%;
    top: 35px;
}

.right-arrow-svg:hover {
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/* PICTURE-BLOCK-2 */

.picture-block-2 {
    padding-bottom: 601px;
    background-image: url(../img/picture-block-2_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* COME-TOGETHER */

.orange-line-come-together {
    position: relative;
}

.orange-line-come-together::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 43px;
    height: 8px;
    background-color: var(--orange-color);
}

.come-together {
    padding: 100px 0 128px 137px;
}

.come-together__title {
    padding-top: 37px;
    color: var(--brown-color);
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
}

.come-togther__left_text {
    color: var(--brown-color);
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.come-together__right {
    width: 75%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.come-together__card {
    width: 41%;
}

.come-together__card:nth-child(-n+1) {
    margin-bottom: 55px;
}

.come-together__card_text {
    color: var(--darc-grey-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-left: 79px;
}

.come-together__card-1 {
    background-image: url(../img/come-together-card-icon-1.png);
    background-repeat: no-repeat;
    background-position: 26px -2px;
}

.come-together__card-2 {
    background-image: url(../img/come-together-card-icon-2.png);
    background-repeat: no-repeat;
    background-position: 26px 7px;
}

.come-together__card-3 {
    background-image: url(../img/come-together-card-icon-3.png);
    background-repeat: no-repeat;
    background-position: 29px 0px;
}

.come-together__card-4 {
    background-image: url(../img/come-together-card-icon-4.png);
    background-repeat: no-repeat;
    background-position: 29px 0;
}

/* BOOKING */

.booking {
    padding-bottom: 100px;
    background-color: var(--milk-color);
}

.booking__title {
    padding: 0 443px 0 446px;
    text-align: center;
    color: var(--brown-color);
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
}

.booking__text {
    padding: 16px 443px 0 446px;
    text-align: center;
    color: var(--brown-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.booking__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 17px;
}

.booking__btn-1 {
    padding: 14px 24px;
    color: var(--brown-color);
    border: 4px solid var(--brown-color);
    border-radius: 6px;
}

.booking__btn-2 {
    margin-left: 20px;
    padding: 16px 26px;
    color: var(--white-color);
    background-color: var(--brown-color);
    border-radius: 6px;
}

/* FOOTER */

.footer {
    padding: 100px 0 108px 136px;
    background-color: var(--brown-color);
}

.footer__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__top_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25%;
}

.footer__top_list_item {
    padding-top: 10px;
}

.footer__top_link {
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer__top_middle {
    width: 24.5%;
}

.footer__middle_social {
    padding-top: 20px;
}

.social-link:not(:last-child) {
    margin-right: 22px;
}

.footer__top_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__top_right_text {
    width: 78%;
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer__form {
    position: relative;
}

.footer__input {
    margin-top: 8px;
    padding-left: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    width: 81.2%;
    height: 54px;
    color: var(--brown-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer__input:focus {
    border: 2px solid #E5E7EB;

}

.footer__input:focus-visible {
    outline: 2px solid #E5E7EB;
}

.footer__btn {
    position: absolute;
    right: 20%;
    bottom: 18%;
    color: var(--white-color);
    background-color: var(--brown-color);
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
}

.footer__bottom {
    padding: 139px 129px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../img/footer-logo.png);
    background-repeat: no-repeat;
    background-position: 44% 36%;
}

.footer__copy {
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer__bottom_contacts {
    padding-top: 20px;
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
